node_modules
node_modules/*
!/node_modules/*
node_modules/react-datepicker/*
!node_modules/react-datepicker/

node_modules/react-datepicker/dist/*
!node_modules/react-datepicker/dist/

node_modules/react-datepicker/dist/react-datepicker.css*
!node_modules/react-datepicker/dist/react-datepicker.css

.DS_Store
style.min.css
babel_cache
bundle.js
build/
npm-debug.log
coverage/*
